.padding10 {
	padding: 10px;
}

#tekst-stopka {
	
}

fieldset {
    margin-top: 1em;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border: #aaa solid 1px;
    padding: 0.5em;
    background: rgb(234, 236, 244);
    text-shadow: 1px 1px 2px #fff inset;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}

#pion_hr_wer {
    width: 410px;
	border-left: .25rem solid #fff!important;
    height: calc(5.375rem - 4rem);
    margin: auto 0rem;
    color: #fff;
    padding: 0 0 0 10px;
    background-color: rgb(78, 115, 223);
}

.topbar .dropdown-list .dropdown-item:hover{
	color: #4E73DF;
	background: #E6E8F0;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover{
	color: #4E73DF;
}
/* tlo */
.modal-backdrop {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

.card_str_gl:hover {
	background-color: rgba(221, 223, 235, 0.3);
}

#wersja {
	background-color: rgb(252, 181, 25);
}

#stopka{
	border-top: .25rem solid #fcb519!important;
}

/* wykresy */
.wykres {
	display: block;
	position: relative;
	width: 1000px;
	height: 260px;
	background: url('../images/wykresy/tlo.png') no-repeat center 36px;
	padding: 36px 0 0 0; margin: 0;
	font-size: 12px;
	font-family: sans-serif;
}
.row_wykres {
	display: table-cell;
    vertical-align: bottom;
	padding: 0; margin: 0;
}
.row_slupki_poziom {
	height: 16px;
    padding: 0px 4px;
    margin: 0px 0px;
    color: #fff;
	-webkit-border-radius: 0px 8px 8px 0px;
	border-radius: 0px 8px 8px 0px;
	font-family: 'Roboto',sans-serif;
	font-size: 10px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ca2ff+0,007bff+100 */
background: rgb(76,162,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(76,162,255,1) 0%, rgba(0,123,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(76,162,255,1) 0%,rgba(0,123,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(76,162,255,1) 0%,rgba(0,123,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca2ff', endColorstr='#007bff',GradientType=1 ); /* IE6-9 */


}
.row_slupki_poziom:hover {
	background: rgb(0,123,255);
}
.row_slupki {
	width: 16px;
    padding: 0px;
    margin: 0px 8px;
    color: #fff;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	font-family: 'Roboto',sans-serif;
	font-size: 10px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007bff+0,4ca2ff+100 */
background: rgb(0,123,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,123,255,1) 0%, rgba(76,162,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,123,255,1) 0%,rgba(76,162,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,123,255,1) 0%,rgba(76,162,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bff', endColorstr='#4ca2ff',GradientType=0 ); /* IE6-9 */

}
.row_slupki:hover {
	background: rgb(0,123,255);
}
.wykres-os-x {
	font-size: 11px;
	font-family: sans-serif;
	color: #959594;
}

.pagination {
    border-radius: .25rem;
    border: 1px solid #dee2e6;
    padding: 5px;
}

/* tabele */
.table-hover tbody tr:hover {
    color: #000000;
    background-color: rgba(246, 194, 62, 0.25);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(230, 232, 240, 0.42);
}

.blockquote {
    margin-bottom: 1rem;
    padding-right: 10px;
    font-size: 17px;
    border-right: .25rem solid #e7e9f2!important;
	font-family: 'Open Sans Condensed', sans-serif;
	color: rgb(78, 115, 223);
}
.blockquote-footer {
    color: rgb(78, 115, 223);
}






@media (max-width: 576px) {
	.container, .container-fluid {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.mt-5, .my-5 {
		margin-top: 1rem!important;
	}
}